<!DOCTYPE html>
<html ng-app="stockApp">
<head>
	<title>Stock Data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      
        
        <!-- load angular via CDN -->
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
         <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
       <script src="ui-bootstrap-tpls-0.13.0.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="module.css">
</head>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label| typeaheadHighlight:query"></span>
      <span bind-html-unsafe="match.model.Name| typeaheadHighlight:query"></span>
     
  </a>
</script>
<body ng-controller="mainController">
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="https://github.com/graph1994/Stock-App.git">Stock Data </a> 
				</div>
				<h4 class="navbar-text navbar-right">{{stock.Name}}</h4>
			</div>
		</nav>
	</header>
	<div class="container-fluid" >
		<div class="alert-warning" >
			<div ng-show="!stockName">Insert a stock Symbol!</div>
		</div>
		<form ng-submit="submit() && validEntree(stockName)" >
			<div class="form-group" >
				
				<input type="text" ng-model="stockName" class="form-control" typeahead="stock.Symbol for stock in stockList | filter:$viewValue | limitTo:8" typeahead-on-select="submit()" typeahead-template-url="customTemplate.html"/>

				
			</div>
			
  
		
		</form>
		<div ng-cloak ng-hide="stock.Name == null">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">{{stock.Name}} | {{stock.Symbol | uppercase}}</div>
			  <ul class="list-group">
			    <li class="list-group-item">Last Trade Price: {{stock.LastTradePriceOnly | currency}}</li>
			    <li class="list-group-item">Range in Price for today: {{stock.DaysRange}}</li>
			    <li class="list-group-item">Stock Change: {{stock.Change | currency}}</li>
			    <li class="list-group-item">Stock Last Fifty Days Change: {{stock.ChangeFromFiftydayMovingAverage | currency}}</li>
			     <li class="list-group-item">Earning Share: {{stock.EarningsShare | currency}}</li>
			     <li class="list-group-item">Estimate of Earning Share Next Year: {{stock.EPSEstimateNextYear | currency}}</li>
			  </ul>
			</div>

			<div class="alert" ng-class="{ 'alert-success': postiveStock(stock.ChangeFromFiftydayMovingAverage)  , 'alert-danger': !postiveStock(stock.ChangeFromFiftydayMovingAverage) }">
                
                <div ng-show="postiveStock(stock.ChangeFromFiftydayMovingAverage)">
                    Seems like a good stock!
                </div>
                <div ng-show="!postiveStock(stock.ChangeFromFiftydayMovingAverage)">
                    Oh man dont buy this!
                </div>
            </div>
            <div class="container">
	            <h3>{{stock.Name}}</h3>
	            <ul class="nav nav-tabs nav-justified" style="width:462px">
	  				<li><a href="#/10">10 year</a></li>
	  				<li><a href="#/1">1 Year</a></li>
	  				<li>Years:<input type="text" ng-model="year" ng-click="changeRouteToMain()"></li>
				</ul>
	             <div ng-view=>
		            	
		         </div>
	         </div>
		</div>
		
	</div>
</body>
</html>
